table,
th,
tr {
    border: 1px solid black;
}

.dueToday {
    color: green;
}

.must {
    color: red;
}

.form-group {
    margin-bottom: 0rem;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    width: 250px;
    height: 280px;
    padding: 0.5em;
    left: 12px;
    top: 87px;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #28a745;
    color: #fff;
    border-radius: 6px;
}

.pastTime {
    color: red;
}

.text {
    /* float: left; */
    display: inline;
}

.table1 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.table.table1 th {
    width: 30px;
    height: 40%;
}

.table.table1 td {
    width: 30px;
    height: 40%;
}

table.table1 tr {
    height: 40%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.vendorBox {
    width: 308px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px;
}

th {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.pull-left a {
    text-decoration: none;
    color: black;
}

.panel-body a {
    text-decoration: none;
    color: black;
}

.panel-body {
    overflow-x: auto;
}

td {
    border: 1px solid black;
    width: 170px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
}

.block1 {
    background-color: white;
    position: absolute;
    border: 1px solid black;
    padding: 25px;
    left: 34%;
    top: 20%;
}

.block {
    background-color: white;
    position: absolute;
    border: 1px solid black;
    padding: 25px;
    left: 34%;
    top: 15%;
    width: 500px;
    height: 400px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

#header {
    /* left-margin:50px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.hide1 {
    display: none;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    align-self: center;
    background: white;
}

body {
    margin: 0;
}

.column {
    float: left;
    padding: 10px;
}

.column.middle {
    width: 80%;
}

.bold {
    font-weight: bold;
}

.header {
    background-color: #F7ECE9;
    padding: 10px;
    text-align: left;
}

.table-responsive {
    display: inline-table;
}

button:hover {
    background-color: #004b8c;
}

nav {
    background: #004b8c;
    color: #fff;
}

dropdown {
    cursor: pointer;
    background: #004b8c;
}

.dropdown-menu ul {
    position: absolute;
    padding: 0;
    border: 1px solid black;
    background: #004b8c;
    width: 100%;
    list-style-type: none;
}

.dropdown-menu li {
    /* margin-right: 40px; */
    padding: 5px 13px;
}

.dropdown-menu li:hover {
    background-color: rgb(223, 215, 215);
    color: black;
}

.dropdown-menu li a:hover {
    color: black
}

a {
    margin-right: 40px;
}

.navbar-nav {
    display: -webkit-inline-box;
    /* display: flex; */
    /* -ms-flex-direction: column; */
    /* flex-direction: row; */
    padding-left: 0;
}


/* 
.navbar-header {
    display: -webkit-inline-box;
} */

.navbar a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    form,
    button,
    input[type=submit],
    input[type=button] {
        /* width: 100%; */
        margin-top: 0;
    }
}

@media screen and (max-width:767px) {
    .table1 {
        display: inherit
    }
    .panel-default {
        justify-content: center;
    }
    .block {
        height: 290px;
        width: 270px;
        display: flex;
        left: 1%;
    }
    .navbar-header {
        display: block;
    }
    .table-responsive {
        display: contents;
        width: 100%;
        overflow-x: auto;
    }
    .navbar>.container,
    .navbar>.container-fluid {
        display: -ms-flexbox;
        display: block;
    }
    .nav {
        /* display: -ms-flexbox; */
        display: block;
    }
}