.form-control {
    width: 60%;
    margin-top: 0px;
    border-radius: 24px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}

form {
    max-width: 633px;
    margin: initial;
    align-self: left;
    background: #f8f8f8;
    color: black;
}

.card {
    border: 1px solid gainsboro;
    padding: 10px 20px;
    /* margin-bottom: -4px; */
}

nav {
    background: #004b8c;
    color: #fff;
    border-radius: 0px;
    /* height: 95px; */
    margin-bottom: -10px;
}

.navbarHeader {
    height: 95px;
}

.custom-select {
    border-radius: 4px;
    width: 140px;
    height: 28px;
}

.col-sm-12 {
    height: auto;
    display: inline-flex;
    padding: 11px 1px;
}

.vendorBox {
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    flex: 1;
    min-height: 212px;
    height: auto;
    margin: 12px;
}

.navbar-brand {
    color: white;
}

.navbar-header {
    display: inline-flex;
}

.bold {
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 30%;
    }
}