form {
    background-color: white;
    max-width: 727px;
    margin: auto;
    font-size: initial;
}

.form-control {
    font-size: initial;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: -18px;
    margin-bottom: 12px;
}

nav {
    background: #004b8c;
    color: #fff;
    border-radius: 0px;
    height: 95px;
    margin-bottom: -10px;
}

.navbarHeader {
    height: 95px;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: -623px;
    margin-bottom: 36px;
}

.form-check-label {
    margin-bottom: 4px;
    margin-right: 20px;
    margin-left: 2px;
}

.custom-select {
    height: auto;
}

.navbar {
    border-radius: 0px;
}

body {
    display: block;
}

.container-fluid {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
}

button {
    align-self: center;
}

p {
    color: #fff;
}

select {
    width: 100%;
}

.navbar-brand {
    color: white;
    display: contents;
}

.navbar-brand>img {
    display: flex;
    margin-left: -655px;
    /* margin-right: 5px; */
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
    body {
        display: unset;
    }
    .navbar a {
        float: left;
        display: content;
    }
    .container-fluid {
        padding-left: 30px;
    }
    .navbar-brand>img {
        display: flex;
        margin-left: 0px;
        /* margin-right: 5px; */
    }
    .form-check-inline {
        margin-right: 72px;
        display: inline;
    }
}